
body{

  text-align: center;
  margin: auto;
  background: beige;

}

div{

  margin: auto;
  padding: 0.5%;
  height: 100%;
  border: brown 10px solid;

}

div:hover{

  cursor: pointer;
}

.div1{

  background: brown;

}

p{

  font-family: fantasy;
  font-style: papyrus;
  font-size: 300%;

}

h1{

  padding: 2%;
  font-family: monospace;
  font-style: courier new;
  font-size: 300%;

}

img{

width: 25%;

}
