
body{

  text-align: center;
  margin: auto;
  background: beige;

}

div{

  margin: auto;
  padding: 0.5%;
  height: 100%;
  border: brown 10px solid;

}

.div1{

  background: brown;

}

p{

  font-family: fantasy;
  font-style: papyrus;
  font-size: 300%;

}

#disc{

  color: beige;
}

h1{

  padding: 2%;
  font-family: monospace;
  font-style: courier new;
  font-size: 300%;

}

button{

  font-family: monospace;
  font-style: courier new;
  font-size: 300%;

  padding: 1.5%;
  border: none;
  background: brown;
  color: beige;

  border-radius: 20%;

  cursor: pointer;
  outline: none;

  transition-duration: 0.5s;

}

button:active{

  background: beige;
  color: brown;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
